###################################################################
LaTeX Files
###################################################################
*.aux
*.log
*.out
*.gz

###################################################################
JetBrains
###################################################################
**/.idea
*.iml

###################################################################
Others
###################################################################
**/Podcasts
**/Podcast
*.xlsx
*.docx
*.pdf
_minted*
