###################################################################
LaTeX Files
###################################################################
*.aux
*.log
*.out
*.gz

###################################################################
JetBrains
###################################################################
**/.idea
*.iml

###################################################################
Others
###################################################################
**/Podcasts
