###################################################################
LaTeX Files
###################################################################
*.aux
*.log
*.out
*.gz
*.bbl
*.bcf
*.blg
*.synctex.gz
*.toc
*.xml

###################################################################
JetBrains
###################################################################
**/.idea
*.iml

###################################################################
Others
###################################################################
**/Podcasts
**/Podcast
*.xlsx
*.docx
_minted*
